 .flex-row-demo {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    border-style: dotted;
    border-color: yellow;
}
.flex-column-demo {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border-style: dotted;
    border-color: green;
}

.block-demo {
    /*In the real world you don't have to specify block */
    /*Any div is block by default*/
    display: block;
    border-style: dotted;
    border-color: blue;
}
